<form method="POST" action="/artists">
<label>Artist name: </label>
<input type="text" name="name" /><br />
<label>Artist genre: </label>
<input type="text" name="genre" /><br />

<input type="submit" />
</form>